---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Montserrat Muñoz Clarà</title>
	</head>
  	<body>
   	 <h1>Bienvenida a mi Portfolio Personal en Astro</h1>
    	<p>Soy Montserrat Muñoz Clarà, estudiante de 2º de DAW en Jobie FP. Me gusta mucho la parte visual del desarrollo web: que las cosas funcionen y que se vean bien, las dos cosas a la vez.</p>
    	<p>Actualmente trabajo para una empresa del Reino Unido, y eso me ha hecho ver el desarrollo de otra manera. Prefiero entender lo que escribo antes de escribirlo.</p>
    	<p>Ahora estoy con el TFG: "Código de Vida", una app web de emergencias que permite acceder a perfiles médicos mediante QR y NFC.</p>
    	<p>Cuando necesito desconectar, me gusta tocar el trombón. También suelo estar en el gimnasio o jugando al pádel.</p>
  	</body>
</html>
