
---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/codenode-semana5/">Inicio</a>
      <a href="/codenode-semana5/sobre-mi">Sobre mí</a>
      <a href="/codenode-semana5/proyectos">Proyectos</a>
    </nav>

    <slot />

  </body>
</html>