---
import '../styles/global.css';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-950 text-white min-h-screen font-sans">

    <nav class="bg-gray-900 px-8 py-4 flex gap-6 text-sm font-medium">
      <a href="/codenode-semana5/" class="hover:text-teal-400 transition">Inicio</a>
      <a href="/codenode-semana5/sobre-mi" class="hover:text-teal-400 transition">Sobre mí</a>
      <a href="/codenode-semana5/proyectos" class="hover:text-teal-400 transition">Proyectos</a>
    </nav>

    <main class="max-w-3xl mx-auto px-6 py-12 prose">
      <slot />
    </main>

  </body>
</html>